.card {
	border-radius: 3px;
	box-sizing: border-box;
	overflow: hidden;
}

#player-cards {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 900;
	width: 100%;
}

#player-cards > div {
	display: flex;
	justify-content: center;
}

#player-cards .card {
	position: relative;
	bottom: -88px;

	padding-top: 20px;
	display: inline-block;
	width: 192px;
	height: 192px;

	margin: 0 4px;
	border: 1px dashed rgba(0,0,0, 0.1);

	background-color: #F7E2C0;
	box-shadow: 0 8px 16px rgba(0,0,0, 0.75);
}

#player-cards .description {
	font-size: 0.75em;
}

#player-cards .policy {
	width: 128px;
	font-size: 1.4em;
}

.policy {
	border-radius: 12%/9%;
	background-size: contain;
	background-position: center;
}

#cards-vote .card, #player-cards .policy {
	cursor: pointer;
}

.card.selected {
	bottom: -24px !important;
}

#veto-request span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 16px;
}
