#chat-box {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 44px;
	width: 100vw;
	z-index: 9001;
	overflow: hidden;
	background-color: #393734;
}

.chat-mutable.disabled {
	opacity: 0.5;
}

#chat-box input {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.4em;
	font-weight: 300;
	border-radius: 0;
	background-color: transparent;

	border: none;
	color: #F7E2C0;
}

#game-container, #lobby-wait, #chat-container-lobby { /*TODO remove extra*/
	padding-bottom: 44px;
}

.chat-container .detail {
	font-size: 1em;
}

.chat-container p, .chat-container .player-name {
	background-color: transparent !important;
}

/* BUTTONS */

.chat-button {
	position: fixed;
	bottom: 0;
	width: 44px;
	height: 44px;
	z-index: 9002;
	color: #fff;
	line-height: 44px;
	text-align: center;
	cursor: pointer;
	font-size: 2em;

	background-size: contain;
	background-position: center;
}

#voice-button {
	left: 0;
}
#voice-button.muted {
	opacity: 0.5;
}

#menu-button {
	right: 0;
	background-image: url(/images/menu.png);
}

.chat-background {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 640px;
	max-width: 100%;
	margin: auto;
	z-index: -1;
}
