#s-game {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

#game-container {
	position: relative;
	display: flex;

	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

#s-game.directive #game-container {
	padding-top: 44px;
}

#chat-container-game {
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	user-select: text;

	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 25%;
	max-width: 420px;
	background-color: #444;
	color: #fffffd;
	padding: 0 8px;
}

#game-area {
	position: relative;
	height: inherit;
	box-sizing: border-box;
}

#game-mat {
	height: inherit;
	min-height: 600px;
	box-sizing: border-box;
}

/* DIRECTIVE */

#directive {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9001;
	width: 100%;
	padding: 0 4px;
	box-sizing: border-box;

	height: 44px;
	line-height: 44px;
	text-align: center;
	font-weight: 400;
	font-size: 1.3em;

	background-color: #393734;
	color: #F7E2C0;
	text-shadow: 0 4px 16px black;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#s-game:not(.directive) #directive {
	display: none;
}

/* PARTY */

.unknown {
	color: #F7E2C0;
}

.fascist {
	color: #9C0701;
	background-color: #E3644F;
	border-color: #9C0701 !important;
}
.fascist.danger {
	color: #E3644F;
	background-color: #9C0701;
}

.liberal {
	color: #2E6C87;
	background-color: #78CAD7;
	border-color: #2E6C87 !important;
}
.liberal.danger {
	color: #73CBD9;
	background-color: #2E6C87;
}

.liberal.image {
	background-image: url(/images/liberal.png);
}
.fascist.image {
	background-image: url(/images/fascist.png);
}
.hitler.image {
	background-image: url(/images/hitler.png);
}

/* MEDIA */

@media (max-width: 1023px) {
	#game-container {
		flex-direction: column-reverse;
	}

	#game-area {
		flex-grow: 4;
	}

	#chat-container-game {
		display: none;
	}
}

@media (min-width: 1024px) {
	#game-container {
		flex-direction: row-reverse;
	}

	#game-area {
		flex-grow: 2;
	}
}
