#s-lobby {
	text-align: center;
}

#lobby-open-games li {
	margin: 16px;
	padding: 8px 0;
	background-color: #eee;
}

#lobby-open-games li:hover {
	background-color: rgba(156, 7, 1, 0.1);;
	cursor: pointer;
}

#lobby-wait-afk {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(227, 100, 79, 0.95);
	z-index: 9001;
}

#chat-container-lobby strong {
	color: inherit;
}
