#s-lobby {
	text-align: center;
	overflow-y: auto;
}

#lobby-wait {
	margin-bottom: 48px;
}

#lobby-open-games li {
	margin: 16px;
	padding: 8px 0;
	background-color: #eee;
}

#lobby-open-games li:hover {
	background-color: rgba(156, 7, 1, 0.1);;
	cursor: pointer;
}

#chat-container-lobby .player-name {
	color: inherit;
}
